<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <packageSources>
    <clear />
    
    <!-- Set the values of the following two keys to test developer version of BuildXL packages. -->
    <!--
      <add key="BuildXLDev-Private" value="path\to\BuildXL\bin\private\pkgs" />
      <add key="BuildXLDev" value="path\to\BuildXL\bin\pkgs" />
    -->
    
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="1EsSharedAssets-BuildXL" value="https://pkgs.dev.azure.com/1esSharedAssets/_packaging/BuildXL@Canary/nuget/v3/index.json" /> 
    <!-- TODO(1DS-SDK): Once 1DS SDK Aria Channel is proven to work as expected in terms of reliability and perf, rework Aria telemetry related classes to 
    get rid of Microsoft.Applications.Telemetry.Server package dependency and solely move to 1DS OneCollector SDK. -->
    <add key="ARIA-SDK" value="https://msasg.pkgs.visualstudio.com/_packaging/ARIA-SDK/nuget/v3/index.json" />
    <add key="AzureGenevaMonitoring" value="https://msblox.pkgs.visualstudio.com/_packaging/AzureGenevaMonitoring/nuget/v3/index.json" />

    <!-- 1DS SDK Aria Channel Prereqs (https://1dsdocs.azurewebsites.net/getting-started/csharp-getting_started.html#aria-prerequisites) -->
    <add key="OneSDK" value="https://msasg.pkgs.visualstudio.com/_packaging/OneSDK/nuget/v3/index.json" />
    <add key="1DSOneCollectorChannel" value="https://msasg.pkgs.visualstudio.com/_packaging/1DSOneCollectorChannel/nuget/v3/index.json" />
  </packageSources>
</configuration>