<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="StyleCop rules" ToolsVersion="15.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <!-- Don't use tabs -->
    <Rule Id="SA1027" Action="Error" /> 

    <Rule Id="SA0001" Action="None" />  <!-- XML comment analysis is disabled due to project configuration -->
    <Rule Id="SA1012" Action="None" />  <!-- Opening brace should be followed by a space -->
    <Rule Id="SA1013" Action="None" />  <!-- Closing brace should be preceded by a space -->
    <Rule Id="SA1025" Action="None" />  <!-- Code should not contain multiple whitespace characters in a row -->
    <Rule Id="SA1028" Action="None" />  <!-- Code should not contain trailing whitespace -->
    <Rule Id="SA1101" Action="None" />  <!-- Prefix local calls with this. -->
    <Rule Id="SA1116" Action="None" />  <!-- Parameters should being on the line after the declaration, whenever the parameter span across multiple lines -->
    <Rule Id="SA1117" Action="None" />  <!-- Parameters should all be placed on the sam line or each should be places on its own line -->
    <Rule Id="SA1118" Action="None" />  <!-- the parameter spans multiple lines -->
    <Rule Id="SA1119" Action="None" />  <!-- Statement should not use unnecessary parentheses -->
    <Rule Id="SA1124" Action="None" />  <!-- Do not use regions -->
    <Rule Id="SA1129" Action="None" />  <!-- Do not use default value type contructor. -->
    <Rule Id="SA1201" Action="None" />  <!-- Public members should come before internal members -->
    <Rule Id="SA1202" Action="None" />  <!-- An enum should not follow a method -->
    <Rule Id="SA1203" Action="None" />  <!-- Constant fields should appear before non-constant fields -->
    <Rule Id="SA1204" Action="None" />  <!-- Static members should appear before non-static members -->
    <Rule Id="SA1214" Action="None" />  <!-- Readonly fields should appear before non-readonly fields -->
    <Rule Id="SA1306" Action="None" />  <!-- Field should begin with a lowercase letter -->
    <Rule Id="SA1308" Action="None" />  <!-- Field should not begin with prefix m_ or g_ -->
    <Rule Id="SA1309" Action="None" />  <!-- Field should not begin with an underscore -->
    <Rule Id="SA1310" Action="None" />  <!-- Field should not contain an underscore -->
    <Rule Id="SA1401" Action="None" />  <!-- Fields should be private -->
    <Rule Id="SA1402" Action="None" />  <!-- Files may only contain a single type -->
    <Rule Id="SA1407" Action="None" />  <!-- Arithmetic expressions should declare precedence -->
    <Rule Id="SA1512" Action="None" />  <!-- Single-line comments should not be followed by a blank line -->
    <Rule Id="SA1515" Action="None" />  <!-- Single-line comments should be preceded by a blank line -->
    <Rule Id="SA1516" Action="None" />  <!-- Elements should be separated by a blank line -->
    <Rule Id="SA1600" Action="None" />  <!-- Elements must be documented -->
    <Rule Id="SA1611" Action="None" />  <!-- Element return value should be documented -->
    <Rule Id="SA1615" Action="None" />  <!-- Element return value should be documented -->
    <Rule Id="SA1623" Action="None" />  <!-- The property's documentation summary text should begin with 'Gets or sets' -->
    <Rule Id="SA1642" Action="None" />  <!-- Constructor summary documentation should begin with standard text -->
    <Rule Id="SA1643" Action="None" />  <!-- Destructor summary documentation should begin with standard text -->
    <Rule Id="SA1649" Action="None" />  <!-- File name should match first type name -->
  </Rules>
</RuleSet>